<header>內容區header</header>
<main>
    <section>
        <p>報表一</p>
        <ngx-charts-bar-horizontal
        [view]="view"
        [scheme]="colorScheme"
        [results]="jsonData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
        [showDataLabel]=true>
        </ngx-charts-bar-horizontal>
    </section>
    <section>報表二</section>
</main>
