<!-- 虛擬時鐘 -->
<app-clock></app-clock>
{{updateTime}}

<div class="container-fluid">
  <div class="row">
      <!-- 左側導航欄 -->
      <nav class="col-md-3 bg-primary" style="width: 301px; height: 948px; top: 41px; left: 24px;">
        <!-- 折疊選單 -->
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  所有店鋪
                </button>
              </h2>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <h2 class="mb-0">
                  <a routerLink="/store-report" class="btn btn-primary" href="#" role="button">
                    店鋪一
                  </a>
                </h2>
                <h2 class="mb-0">
                  <a class="btn btn-primary" href="#" role="button">
                    店鋪二
                  </a>
                </h2>
                <h2 class="mb-0">
                  <a class="btn btn-primary" href="#" role="button">
                    店鋪三
                  </a>
                </h2>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  看報表
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <h2 class="mb-0">
                  <a class="btn btn-primary" href="#" role="button">
                    員工產值
                  </a>
                </h2>
                <h2 class="mb-0">
                  <a class="btn btn-primary" href="#" role="button">
                    店鋪績效
                  </a>
                </h2>
              </div>
            </div>
          </div>

        </div>
      </nav>

      <!-- 右側內容區 -->
      <div class="col-md-9" style="width: 1070px; height: 948px; top: 41px; left: 348px;">
        <router-outlet></router-outlet>
      </div>

  </div>
</div>